node_modules
dist
tools
*.exe
build.ps1
build-viewer.ps1
build-icon.ps1
build-launcher.ps1
start.bat
*.md
icon.svg
icon.html
icon.png
icon-*.png
make-ico.js
viewer.cs
launcher.cs
sea-config.json
.git
.gitignore
whoscoffee.db
config.json
